.display-component-title {
    background-color: rgb(246, 230, 222);
    width: 328px;
    border-top: 18px solid rgb(246, 230, 222);
    border-bottom: 18px solid rgb(246, 230, 222);
    margin-bottom: 0;
    text-align: center;
}

.display-component-slide {
    height: 280px;
    width: 280px;
    margin-right: 30px;
  }
  
  .display-component-collection-title {
    width: 340px;
    background-color: rgb(246, 230, 222);
    text-align: left;
    margin: 0;
    font-weight: bold;
  }
  
  .display-component-card {
    display: flex;
  }
  
  .display-component-container {
    display: flex;
    flex-direction: row;
    height: 260px;
    width: 320px;
    background-color: rgb(246, 230, 222);
    border-left: 20px solid rgb(246, 230, 222);
    margin-right: 0;
  }
  
  .display-component-button {
    background-color: rgb(246, 230, 222);
    border: 0;
    margin: 0;
    font-size: 20px;
    height: 278px;
  }
  
  .display-component-pic {
    height: 210px;
    width: 125px;
    margin: 10px;
    margin-bottom: 0;
  }
  
  .display-component-text {
    text-align: center;
    margin: 0;
    font-weight: bold;
  }


.collection-title {
  background-color: rgb(246, 230, 222);
  width: 328px;
  border-left: 24px solid rgb(246, 230, 222);
  font-weight: bold;
}