.logoNav {
	background-color: #fae5dd;
	list-style: none;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 20px;
	margin: 10px;
}

.theIcon {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.icon {
	padding: 10px;
}