div{
    display: flex;
}

h3 {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    /* identical to box height, or 175% */

    letter-spacing: 0.1px;

    /* Black / 100 */

    color: #25282B;

    margin: 0;

}

h1 {
    font-family: Playfair display;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    /* identical to box height, or 175% */

    letter-spacing: 0.1px;

    /* Black / 100 */

    color: #25282B;
    margin: 0 0 0 5px;
}

.tagline {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    /* identical to box height, or 175% */

    letter-spacing: 0.1px;

    /* Black / 100 */

    color: #25282B;

    margin: 0;
}