.text-area {
  width: 450px;
  height: 150px;
  background-color: rgb(227, 224, 222);
  color: rgb(94, 91, 90);
  font-size: 25px;
}

.text-area-label {
  font-size: 35px;
  display: block;
  margin-bottom: 15px;
}

.text-box {
  display: flex;
  flex-direction: column;
}

.label {
  align-self: center;
}

.text {
  align-self: center;
}
