.selectDropdown {
  width: 184px;
  height: 40px;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  background-color: rgb(228, 224, 222);
  border: 0.1 solid #000000;
}

.selectDropdown::selection {
  font-weight: bold;
}
