.slider-slide {
  height: 280px;
  width: 280px;
  margin-right: 30px;
}

.slider-title {
  width: 340px;
  background-color: rgb(246, 230, 222);
  text-align: left;
  margin: 0;
  font-weight: bold;
}

.slider-card {
  display: flex;
}

.slider-slide-container {
  display: flex;
  flex-direction: row;
  height: 260px;
  width: 320px;
  background-color: rgb(246, 230, 222);
  border-left: 20px solid rgb(246, 230, 222);
  margin-right: 0;
}

.slider-button {
  background-color: rgb(246, 230, 222);
  border: 0;
  margin: 0;
  font-size: 20px;
  height: 278px;
}

.slider-pic {
  height: 210px;
  width: 125px;
  margin: 10px;
  margin-bottom: 0;
}

.slider-text {
  text-align: center;
  margin: 0;
  font-weight: bold;
}
