.slide {
	height: 280px;
	width: 320px;
	margin-right: 30px;
}

.slide1 .slide2 .slide3 .slide4 {
	height: 200px;
	width: 200px;
}

.title {
	width: 340px;
	background-color: rgb(246, 230, 222);
}

.slideshow-container {
	display: flex;
}

.card {
	display: flex;
}

.slide-container {
	display: flex;
	flex-direction: row;
	height: 260px;
	width: 320px;
	background-color: rgb(246, 230, 222);
	border-left: 20px solid rgb(246, 230, 222);
	margin-right: 0;
}

.button {
	background-color: rgb(246, 230, 222);
	border: 0;
	margin-bottom: 50px;
	margin-left: 0;
	font-size: 20px;
	font-weight: bold;
	height: 260px;
	/* float: right; */
}

img {
	height: 210px;
	width: 125px;
	margin: 10px;
	margin-bottom: 0;
}

p {
	text-align: center;
	margin: 0;
}
