








/* button{
  
}
  
  .button-fb {
    background: url("../SocialMediaIcons/Facebook.svg");
    background-color: #441F0E;
  border-radius:50%;
  cursor:pointer;
  height:30px;
  width:30px;
  border: 1px solid #441F0E;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;

    
  }
  
  .button-ig{
    background: url("../SocialMediaIcons/Ig.svg");
    
  }
  
  .button-p{
    background: url("../SocialMediaIcons/Pinterest.svg");
    
  }
  
   */