.title {
	width: 340px;
	background-color: rgb(246, 230, 222);
}

.carousel-container {
	display: flex;
	flex-direction: row;
	height: 260px;
	width: 320px;
	background-color: rgb(246, 230, 222);
	border-left: 20px solid rgb(246, 230, 222);
}

button {
	background-color: rgb(246, 230, 222);
	border: 0;
	margin-bottom: 60px;
	font-size: 20px;
	font-weight: bold;
}

img {
	height: 210px;
	width: 125px;
	margin: 10px;
	margin-bottom: 0;
}

p {
	text-align: center;
	margin: 0;
}
