.appt-container {
  display: flex;
  flex-flow: column;
  padding: 1.5em 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bridal-appt-desktop {
  display: none;
}

.info-view {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  width: 100%;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0;
  color: #000000;
  padding: 0;
}

p.main-text {
  font-size: 14px;
  line-height: 18px;
}

.info-view .icon-container {
  display: block;
  width: 100%;
}

.info-view .icon-container .icon-details {
  display: flex;
  flex-flow: wrap;
  text-indent: 20px;
  margin: 10px 0 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.width-max {
  max-width: 70%;
  display: none;
}

.dress-icon {
  display: none;
}

@media only screen and (min-width: 500px) {
  .appt-container {
    width: 50%;
    margin: 0 auto;
  }

  .h4 {
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    padding-bottom: 15px;
  }

  .info-view .icon-container .icon-details {
    display: flex;
    flex-flow: wrap;
    margin: 10px 0 0;
    text-indent: 20px;
    font-family: "Playfair Display";
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
  }

  .info-view {
    align-items: center;
  }

  .background-white {
    background-color: #ffffff;
  }

  .bridal-appt-desktop {
    display: block;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }

  .dress-icon {
    margin: 2em auto;
    display: block;
  }

  .width-max {
    display: block;
  }
}
