.appt-container {
  display: flex;
  flex-flow: column;
  padding: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.appt-background {
  background-color: #fae5dc;
}

.bridal-appt-h4 {
  line-height: 120%;
  margin: 0 auto;
  padding-bottom: 15px;
}

.info-view {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  width: 100%;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  color: #000000;
  padding: 0;
}

p.main-text {
  font-size: 14px;
  line-height: 18px;
}

.info-view .icon-container {
  display: block;
  width: 100%;
}

.info-view .icon-container .icon-details {
  display: flex;
  flex-flow: wrap;
  text-indent: 20px;
  margin: 10px 0 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.width-max {
  max-width: 70%;
  display: none;
}

.dress-icon {
  display: none;
}

/* Confirmation Info */
.times-close {
  display: flex;
  flex-flow: row;
  justify-content: flex-end !important;
  width: 100%;
  padding-right: 15px;
  cursor: pointer;
}

.appt-confirmation {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.appt-confirmation-container {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.appt-img {
  display: flex;
}

.confirmation-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
}

.appt-name {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin: 0 auto;
}

.appt-name-sub {
  font-family: "Raleway";
  font-size: 11px;
  line-height: 16px;
  text-align: left;
  padding: 10px 0 0 20px;
}

.appt-data {
  text-align: left;
  padding-left: 20px;
}

.appt-data .appt-details {
  display: flex;
  flex-flow: wrap;
  margin-top: 10px;
}

.appt-btn {
  margin: 15px auto 10px;
}

.appt-btn-2 {
  margin: 15px auto 20px;
}

.hr-line {
  border: 0.4px solid #000000;
  width: 95%;
  margin: 0 auto;
  padding: 0;
}

.appt-store-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.appt-store-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 1rem auto;
}

.appt-store-text {
  width: 85%;
  margin: 0 auto 0.5rem;
}

@media only screen and (min-width: 768px) {
  .appt-container {
    width: 50%;
    margin: 0 auto;
  }

  .h4 {
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    padding-bottom: 55px;
  }

  .info-view .icon-container .icon-details {
    display: flex;
    flex-flow: wrap;
    margin: 10px 0 0;
    text-indent: 20px;
    font-family: "Playfair Display";
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
  }

  .info-view {
    align-items: center;
  }

  .appt-background {
    background-color: #ffffff;
  }

  .bridal-appt-h4 {
    display: block;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }

  .dress-icon {
    margin: 2em auto;
    display: block;
  }

  .width-max {
    display: block;
    max-width: 100%;
  }

  /* Confirmation */

  .times-close {
    display: none;
  }

  .appt-confirmation {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .appt-confirmation-container {
    flex-flow: column-reverse;
    justify-content: center;
    align-content: center;
  }

  .appt-img {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
  }

  .appt-img img {
    display: block;
    height: 98px;
  }

  .confirmation-info {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .appt-name-sub {
    padding: 10px 0 40px;
    text-align: center;
    font-family: 'Playfair Display';
  }
  .appt-details {
    font-family: 'Playfair Display';
  }
  .appt-btn {
    display: none;
  }
  .appt-btn-2 {
    display: none;
  }
  .hr-line {
    display: none;
  }
}
