.appt-container {
  display: flex;
  flex-flow: column;
  padding: 1.5em 1em;
}

.default-view {
  justify-content: center;
  align-items: center;
  text-align: center;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0;
  color: #000000;
  padding: 0;
  margin: 0 0 10px;
}

p.main-text {
  font-size: 14px;
  line-height: 18px;
}

.dress-icon {
  display: flex;
}

.dress-icon-hidden {
  display: none;
}

@media only screen and (min-width: 735px) {
  .appt-container {
    background-color: #ffffff;
    width: 30%;
    margin: 0 auto;
  }
  .h4 {
    font-family: "Playfair Display";
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
}

/* .infoView {
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.infoView h4 {
  margin: 0 0 10px;
}

.infoView .icon-container {
  display: block;
}

.infoView .info-details {
  list-style: none;
  padding-inline-start: 25px;
  margin: 0;
}

.infoView .info-details li {
  padding: 8px 0 0 0;
  display: flex;
  flex-flow: wrap;
}

.infoView .info-details .icon-text {
  text-indent: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0;
  color: #000000;
  line-height: 19px;
}

.appt-confirmed-mobile {
  text-align: left;
  background-color: #fae5dc;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5em 1em;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0;
  color: #000000;
  padding: 0;
  margin: 0 0 10px;
}

.main-text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
  color: #000000;
  line-height: normal;
}

.times-close {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  padding: 0 15px 0 0;
}

.thankyou-info-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.dress-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.thankYou {
  display: flex;
  flex-flow: wrap;
  width: 80%;
}

.flex1 {
  display: flex;
  flex-flow: wrap;
}

.fullInfoView .icon-container {
  display: flex;
  flex-flow: column;
}

.fullInfoView ul.info-details {
  list-style: none;
  margin: 0;
  padding: 0;
} */
