.seasonCollectionP {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 5px;
    /* figma shows bold but bold does not work */
  font-weight: bold;
  margin: 5px;

}
.seasonCollectionImgContainer{
display: flex;
margin: 0px;
padding: 0px;
justify-content: center;
}

.seasonCollectionImg{
margin-top: 20px;
width: 70%;
margin-left: 3px;
margin-right: 3px;
}

.seasonCollectionSquare{
height: 60%;
background-color:rgba(249, 218, 205, 0.4);
padding-left: 40px;
padding-right: 40px;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap')
